<div class="flex items-center p-6 space-x-6">
  <div
    class="h-48 w-72 rounded-lg bg-gray-800 text-gray-300 flex items-center justify-around border border-gray-700"
  >
    <div class="flex flex-col">
      <span class="texl-5xl">$300</span>
      <span>Available</span>
    </div>
    <button class="btn btn-primary">Assign</button>
    <button class="btn btn-secondary">+ Add</button>
  </div>

  <div
    class="bg-gray-800 text-gray-300 border border-gray-700 h-32 w-48 flex flex-col items-center justify-center rounded-lg"
  >
    <span>$200</span>
    <span>spent this month</span>
  </div>
</div>
