<div class="flex items-center p-6 space-x-6">
  <div
    class="h-48 w-96 rounded-lg bg-gray-50 text-gray-300 flex items-center justify-around border border-gray-200 shadow-md"
  >
    <div class="flex flex-col text-gray-900 space-y-5">
      <div class="flex items-center space-x-4">
        <lucide-icon [img]="walletIcon" class=""></lucide-icon>
        <span class="text-xl">Balance</span>
      </div>
      <span class="text-3xl">$300</span>
    </div>
    <div class="space-x-2">
      <button class="btn btn-accent">+ Add</button>
      <button class="btn btn-primary">Assign</button>
    </div>
  </div>

  <div
    class="bg-gray-50 text-gray-900 border border-gray-200 h-48 w-48 flex flex-col items-center justify-center rounded-lg shadow-md space-y-5"
  >
    <div class="flex items-center space-x-4">
      <lucide-icon [img]="dollarIcon" class=""></lucide-icon>
      <span class="text-xl">Expenses</span>
    </div>
    <span class="text-3xl">$200</span>
  </div>
</div>
