<div
  class="mr-6 bg-gray-800 rounded-lg shadow-lg p-2 border border-gray-700 flex flex-col justify-center items-center"
>
  <select
    class="w-full bg-gray-800 border-2 border-gray-700 rounded-lg focus:ring-primary focus:border-primary"
  >
    <option class="bg-gray-800 text-gray-300" selected>Category</option>
    <option class="bg-gray-800 text-gray-300">Han Solo</option>
    <option class="bg-gray-800 text-gray-300">Greedo</option>
  </select>
  <h1 class="text-center py-3">Category Information</h1>
  <ul class="flex flex-col justify-around px-3 space-y-3 w-full">
    <li class="flex items-center justify-between">
      <span>Carried Forward</span>
      <span class="bg-gray-900 p-2 rounded-lg w-20 text-center">$400</span>
    </li>
    <li class="flex items-center justify-between">
      <span>Spent last month</span>
      <span class="bg-gray-900 p-2 rounded-lg w-20 text-center">$400</span>
    </li>
    <li class="flex items-center justify-between">
      <span>Available</span>
      <span class="bg-gray-900 p-2 rounded-lg w-20 text-center">$0</span>
    </li>
  </ul>
</div>
