<div
  class="mr-6 bg-gray-50 rounded-lg shadow-lg p-2 border border-gray-200 flex flex-col justify-center items-center"
>
  <select
    class="w-full bg-gray-50 border-2 border-gray-300 rounded-lg focus:ring-primary focus:border-primary text-gray-900"
  >
    <option class="bg-gray-50 text-gray-900" selected>Category</option>
    <option class="bg-gray-50 text-gray-900">Han Solo</option>
    <option class="bg-gray-50 text-gray-900">Greedo</option>
  </select>
  <h1 class="text-center py-3 text-gray-900">Category Information</h1>
  <ul class="flex flex-col justify-around px-3 space-y-3 w-full">
    <li class="flex items-center justify-between">
      <span class="text-gray-900">Carried Forward</span>
      <span class="bg-gray-200 text-gray-900 p-2 rounded-lg w-20 text-center"
        >$400</span
      >
    </li>
    <li class="flex items-center justify-between">
      <span class="text-gray-900">Spent last month</span>
      <span class="bg-gray-200 text-gray-900 p-2 rounded-lg w-20 text-center"
        >$400</span
      >
    </li>
    <li class="flex items-center justify-between">
      <span class="text-gray-900">Available</span>
      <span class="bg-gray-200 text-gray-900 p-2 rounded-lg w-20 text-center"
        >$0</span
      >
    </li>
  </ul>
</div>
